NEXT_PUBLIC_SUPABASE_URL= https://dpceyubrwftpxuddlzmc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY= sb_publishable_6cGgGCtWJbwfFRoIf41zHg_90O9iCum
GEMINI_API_KEY= AIzaSyBwe7FacdeFLMEyB8ayMG_UT7z6uXCb73Y

